
/*.content{*/

/*    margin-top: 5%;*/
/*}*/
/* Definimos las variables de colores */
/*
:root {
    --primary-color: #E76F51;
    --secondary-color: #F4A261;
    --accent-color: #E9C46A;
    --highlight-color: #2A9D8F;
    --dark-color: #264653;
}

!* Estilización general *!
body {
    font-family: 'Arial', sans-serif !important;
    background-color: var(--accent-color) !important;
    color: var(--dark-color) !important;
    margin-top: 60px !important; !* Ajuste para la navbar fija *!
}

!* Navbar personalizada *!
.navbar-custom {
    background-color: var(--highlight-color) !important;
}

.navbar-brand {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: white !important;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold !important;
    transition: color 0.3s ease-in-out !important;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color) !important;
}

!* Aseguramos la disposición de la navbar *!
.navbar-nav.ms-auto {
    margin-left: auto !important;
}

.navbar-nav.mx-auto {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

!* Botones *!
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

!* Tarjetas de productos *!
.card {
    border: none !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.2s ease-in-out !important;
}

.card:hover {
    transform: scale(1.02) !important;
}

.card-title a {
    color: var(--dark-color) !important;
    font-weight: bold!important;
}

.card-title a:hover {
    color: var(--highlight-color) !important;
}

!* Formularios *!
.form-control:focus {
    border-color: var(--highlight-color) !important;
    box-shadow: 0 0 5px var(--highlight-color) !important;
}

!* Pie de página *!
footer {
    background-color: var(--dark-color) !important;
    color: white!important;
    text-align: center!important;
    padding: 10px!important;
    margin-top: 20px!important;
}
*/
.card-img-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
