<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" data-th-href="@{/css/form.css}">
    <title>profil utilisateur</title>
</head>
<body>
<div class="form-container">
<form method="POST" action="/user" data-th-object="${user}">
  <h1>Détail de l'utilisateur</h1>
  <div class="form-group">
  <ul>
    <li>
      <label>
        <input hidden="hidden" id="id" data-th-field="*{userID}"/>
        <input hidden="hidden" id="credit" data-th-field="*{credit}"/>
        <input hidden="hidden" id="admin" data-th-field="*{admin}"/>
        <input hidden="hidden" id="password" data-th-field="*{password}"/>
      </label>
      <label for ="pseudo">Pseudo:</label>
        <input type="text" id="pseudo" data-th-disabled="${!isUserInSession}" data-th-field="*{pseudo}"/>
      </li>
    <li>
      <label for ="prenom">Prénom:</label>
        <input type="text" id="prenom" data-th-disabled="${!isUserInSession}" data-th-field="*{firstName}"/>
    </li>
    <li>
      <label for ="nom">Nom:</label>
        <input type="text" id="nom" data-th-disabled="${!isUserInSession}" data-th-field="*{lastName}"/>
    </li>
    <li>
      <label for ="email">email:</label>
      <input type="text" id="email" data-th-disabled="${!isUserInSession}" data-th-field="*{email}"/>
    </li>
    <li>
      <label for ="phone">phone:</label>
      <input type="text" id="phone" data-th-disabled="${!isUserInSession}" data-th-field="*{phone}"/>
    </li>
    <li>
      <label for ="address">address:</label>
      <input type="text" id="address" data-th-disabled="${!isUserInSession}" data-th-field="*{address}"/>
    </li>
    <li>
      <label for ="zipCode">zipCode:</label>
      <input type="text" id="zipCode" data-th-disabled="${!isUserInSession}" data-th-field="*{zipCode}"/>
    </li>
    <li>
      <label for ="city">city:</label>
      <input type="text" id="city" data-th-disabled="${!isUserInSession}" data-th-field="*{city}"/>
    </li>
  </ul>
    <div data-th-if="${isUserInSession}">
      <button type="submit">Enregistrer les modifications</button>
    </div>
    <div data-th-if="${isUserInSession}">
    </div>
</div>
</form>
  <form data-th-action="@{/deleteMyAccount}" method="POST">
    <button type="submit">Delete my account</button>
  </form>
</div>

</body>
</html>