<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">



<title>Home-Liste de enchères</title>

<main>

  <h1>Liste des enchères</h1>


  <form action="">
    <label for="filter">Filtres :</label>
    <input id="filter" type="text">

    <label for="categories">Catégorie :</label>
    <!--  Créer un foreach sur la liste des categories-->
    <select name="" id="categories">
      <option value="Toutes">Toutes</option>
    </select>

    <button type="submit">Rechercher</button>




  </form>


<!--  Créer un foreach sur la liste des enchères-->
  <div class="filterProd">

    <div><!-- class="article"data-th-each = "c: ${encheres}"-->
      <img src="https://powerlab.fr/18837-superlarge_default_2x/pc-gamer-streaming-core-qhd-powered-by-corsair.jpg" alt="">
      <h2>   <!-- data-th-href="/connection   data-th-text="${e.name}">-->PC Gamer</h2>
      <ul>
        <li ><!--data-th-text="${e.montant}"-->  Prix : 210 points</li>
        <li> <!--data-th-text="${e.dateEnchere}"--> Fin de l'enchèere : 10/08/2018</li>
        <li> <!--data-th-text="${vendeur}"-->Vendeur : jojo44</li>
      </ul>

    </div>


  </div>


  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Pseudor</th>
      <th>Id</th>

    </tr>
    </thead>
    <tbody >
    <tr data-th-each = "u: ${users}">
      <td  data-th-text="${u.getFirstName()}"> </td>
      <td data-th-text="${u.getPseudo()}"></td>
<!--      <td ><span class="action"> <a th:href="@{/detail(id=${c.id})}" >Detail</a>  <a th:href="@{/modifier(id=${c.id})}" >Modifier</a> <form method="post"  th:action="@{/Liste}" style="display:inline;" >   <input type="hidden" name="id" th:value="${c.id}">-->
<!--      <button type="submit" class="link-button" >Supprimer</button>-->
<!--      </form>  </span>-->
    </tbody>

  </table>

</main>


</html>