<html data-th-replace="~{fragNav::layout(title=~{::title}, main=~{::main})}" xmlns="http://www.w3.org/1999/html">
<head>

<title>Nouvelle vente</title>
</head>



<main >
    <div class="content">
<h1 class="text-center mb-4">Nouvelle vente</h1>
<form data-th-object="${itemSold}" method="post" data-th-action="@{/vendre}" class="p-4 border rounded bg-light">
    <div class="mb-3">
        <label for="art" class="form-label">Article :</label>
        <input type="text" id="art" data-th-field="*{name}" class="form-control" placeholder="Enter name" required
               title="Maximun 30 caractères" pattern="[A-Za-z0-9\s\-_\.]{3,30}$">
        <div data-th-if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;">error</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description :</label>
        <textarea id="description" data-th-field="*{description}" class="form-control" placeholder="Enter description" required
                  title="Minimum 10 caractères et maximum 300 caractères" pattern="[A-Za-z0-9\s\-_\.]{10,300}$"></textarea>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;">error></div>

    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Catégorie :</label>
        <select id="category" name="category" class="form-select">
            <option th:each="cat : ${categories}" th:value="${cat.category}" th:text="${cat.wording}"></option>
        </select>
                <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" style="color: red;">error></div>

    </div>
    <div class="mb-3">
        <label for="prix" class="form-label">Mise à prix :</label>
        <input type="number" id="prix" data-th-field="*{firstPrice}" class="form-control" required title="Mise de départ minimum 1 crédit">
                <div th:if="${#fields.hasErrors('firstPrice')}" th:errors="*{firstPrice}" style="color: red;">error></div>

    </div>
    <div class="mb-3">
        <label for="debut" class="form-label">Début de l'enchère :</label>
        <input type="date" id="debut" data-th-field="*{beginningAuctionDate}" class="form-control" required >
                <div th:if="${#fields.hasErrors('beginningAuctionDate')}" th:errors="*{beginningAuctionDate}" style="color: red;">error></div>

    </div>
    <div class="mb-3">
        <label for="fin" class="form-label">Fin de l'enchère :</label>
        <input type="date" id="fin" data-th-field="*{endingAuctionDate}" class="form-control" required>
                <div th:if="${#fields.hasErrors('endingAuctionDate')}" th:errors="*{endingAuctionDate}" style="color: red;">error></div>

    </div>

     <h5>Retrait</h5>

    <div class="mb-3">
        <label class="form-label" for="street">Rue :</label>
        <input id="street" type="text" data-th-field="${user.address}" class="form-control" required>
        <div th:if="${#fields.hasErrors('user.address')}" th:errors="*{user.address}" style="color: red;">error</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="code">Code postal :</label>
        <input id="code" type="text" data-th-field="${user.zipCode}" class="form-control" required>
        <div th:if="${#fields.hasErrors('user.zipCode')}" th:errors="*{user.zipCode}" style="color: red;">error</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="city">Ville :</label>
        <input id="city" type="text" data-th-field="${user.city}" class="form-control" required>
        <div th:if="${#fields.hasErrors('user.city')}" th:errors="*{user.city}" style="color: red;">error</div>
    </div>

    <button type="submit" class="btn btn-primary w-100">Créer</button>
</form>
    </div>
</main>

</html>