<html data-th-replace="~{fragNav::layout(title=~{::title}, main=~{::main})}" xmlns="http://www.w3.org/1999/html">
<head>

<title>Nouvelle vente</title>
</head>
<main>




    <form  data-th-object="${itemSold}" method="post"  data-th-action="@{/vendre}">


<h1>Nouvelle vente</h1>
    <div>
        <label for="art">Article :</label>
        <input type="text" id="art"  data-th-field="*{name}" placeholder="Enter name" required>
        <div data-th-if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;">error</div>
    </div>

    <div>
        <label for="description">Description :</label>
        <textarea name="description" id="description" cols="30" rows="10" data-th-field="*{description}"
                  placeholder="Enter description" required></textarea>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;">error></div>
    </div>

    <div>
        <label for="category">Category</label>
        <select id="category" name="category">
            <option th:each="cat : ${categories}" th:value="${cat.category}" th:text="${cat.wording}"></option>
        </select>
        <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" style="color: red;">error></div>
    </div>

    <div>
        <label for="prix">Mise à prix :</label>
        <input type="number" id="prix" data-th-field="*{firstPrice}">
        <div th:if="${#fields.hasErrors('firstPrice')}" th:errors="*{firstPrice}" style="color: red;">error></div>
    </div>

    <div>
        <label for="debut">Debut de l'enchère</label>
        <input type="date" id="debut" data-th-field="*{beginningAuctionDate}">
        <div th:if="${#fields.hasErrors('beginningAuctionDate')}" th:errors="*{beginningAuctionDate}" style="color: red;">error></div>
    </div>

    <div>
        <label for="fin">Fin de l'enchère</label>
        <input type="date" id="fin" data-th-field="*{endingAuctionDate}">
        <div th:if="${#fields.hasErrors('endingAuctionDate')}" th:errors="*{endingAuctionDate}" style="color: red;">error></div>
    </div>

<h5>Retrait</h5>

<div>
    <label for="street">Rue :</label>
    <input id="street" type="text" data-th-field="${user.address}">
    <div th:if="${#fields.hasErrors('user.address')}" th:errors="*{user.address}" style="color: red;">error></div>
</div>

<div>
    <label for="code">Code postal :</label>
    <input id="code" type="text" data-th-field="${user.zipCode}">
    <div th:if="${#fields.hasErrors('user.zipCode')}" th:errors="*{user.zipCode}" style="color: red;">error></div>
</div>

<div>
    <label for="city">Ville :</label>
    <input id="city" type="text" data-th-field="${user.city}">
    <div th:if="${#fields.hasErrors('user.city')}" th:errors="*{user.city}" style="color: red;">error></div>
</div>

        <button type="submit">Créer</button>

    </form>
</main>
</html>