<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Listing</title>
</head>
<body>

<h2>Create a New Listing</h2>

<!--<form data-th-action="@{/creerObjet}" data-th-object="${item}" method="post">-->
<!--  <div>-->
<!--    <label for="name">Name:</label>-->
<!--    <input type="text" id="name" data-th-field="*{name}" placeholder="Enter name" required />-->
<!--    <div data-th-if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;">error</div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="description">Description:</label>-->
<!--    <textarea id="description" data-th-field="*{description}" placeholder="Enter description" required></textarea>-->
<!--    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;">error></div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="category">Category:</label>-->
<!--    <select id="category" data-th-field="*{category}" required>-->
<!--      <option value="Technology">Technology</option>-->
<!--      <option value="Furniture">Furniture</option>-->
<!--      <option value="Clothing">Clothing</option>-->
<!--      <option value="Books">Books</option>-->
<!--      &lt;!&ndash; Add more categories here &ndash;&gt;-->
<!--    </select>-->
<!--    <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" style="color: red;">error></div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="startingPrice">Starting Price:</label>-->
<!--    <input type="number" id="startingPrice" data-th-field="*{price}" placeholder="Enter price" required />-->
<!--    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;">error></div>-->
<!--  </div>-->
  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" data-th-field="*{beginningAuctionDate}" required />
    <div th:if="${#fields.hasErrors('beginningAuctionDate')}" th:errors="*{beginningAuctionDate}" style="color: red;">error></div>
  </div>

<!-- TO ADD WHEN WE HAVE A USER WITH AN ADRESS -->
<!--  <div>-->
<!--    <label for="address">Address:</label>-->
<!--    <textarea id="address" th:field="*{address}" placeholder="Enter address" required></textarea>-->
<!--  </div>-->

  <div>
    <button type="submit">Submit</button>
  </div>
</form>

</body>
</html>